<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Alog Authentication</title>
    <link href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
     <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   
</head>
<body class="jelly">
<header>
    <p class="logs"><a id="pa" href="/">Go home</a></p>
</header>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1>Alog Login</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post" class="logs">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" placeholder="me@me.com">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
        <div class="text">Try using me@me.com and Password of password</div>
    </form>

    <hr>

    <p id="pa" >Need an account? <a href="/signup">Signup</a></p>
    

</div>

</div>
</body>
</html>